# Created by https://www.gitignore.io/api/xcode,perl

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate


### Perl ###
/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
Job-Manager/Job-Manager.xcodeproj/project.xcworkspace/xcuserdata/nate.xcuserdatad/UserInterfaceState.xcuserstate

Job-Manager/test.json

Job-Manager/parallel.dump

Job-Manager/0

Job-Manager/Job-Manager.xcodeproj/xcuserdata/nate.xcuserdatad/xcschemes/Job-Manager.xcscheme

Job-Manager/Job-Manager.xcodeproj/project.pbxproj
